In [4]:
x = 3

In [5]:
print(x)

3

In [6]:
x

3

In [7]:
print(type(x))

<class 'int'>

In [8]:
y = 3.9

In [9]:
print(type(y))

<class 'float'>

In [10]:
y

3.9

In [11]:
title = "The Raven"
somenum = "4"

In [12]:
print(type(somenum))

<class 'str'>

In [13]:
is_tall = False

In [14]:
x+y

6.9

In [15]:
x/y

0.7692307692307693

In [16]:
x//y

0.0

In [17]:
total_miles = 257
gallons_gas = 7.2

In [18]:
miles_per_gallon = total_miles/gallons_gas

In [20]:
miles_per_gallon

35.69444444444444

concatenation

In [23]:
"bananas for " + str(total_miles) + " miles"

'bananas for 257 miles'

In [27]:
name = "Dino"
print("today is " + name + "'s birthday'")

today is Dino's birthday'

In [ ]:
# Percent Increase Bonus Activity

# Formulas
# Increase = Current Price - Original Price
# Percent Increase = Increase / Original x 100

# Create float variable for original_price


# Create float variable for current_price


# Clculate difference between current_price and original_price


# Calculate percent_increase


# Print original_price
print(f"Apple's original stock price was ${original_price}")

# Print current_price
print(f"Apples current stock price is ${current_price}")

# Print percent_increase