In [1]:
print("banana")

banana

In [2]:
def add(a,b):
    sum_to_return = a + b
    return sum_to_return

In [3]:
add(1,4)

5

In [4]:
add(3,0)

3

In [5]:
print(add(19,210))

229

In [6]:
def mult(a,b):
    return a*b

In [7]:
mult(9,1)

9

In [8]:
x = 2
y = 7
mult(x,y)

14

In [9]:
x = add(2,1)
y = add(2,9)
mult(x,y)

33

In [10]:
mult( add(2,1) , add(2,9) )

33